.row1 {
    background-color: #000000;
}

.site-footer {
    background-color: rgba(0, 0, 51, 0.6);
    color: #ffffff;
}

.footer-top {
    background-color: black;
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
    max-width: 1200px;
    margin: 0 auto;
}

.app-download a img {
    height: 40px;
    margin-right: 15px;
} 
.social-media a img {
    height: 25px;
    margin-right: 15px;
}

.partners-title {
    text-align: center;
    margin: 20px 0;
}

.partners-title p {
    font-size: 24px;
    font-weight: bold;
}

.partner-logos {
    display: flex;
    flex-wrap: wrap; /* Cho phép các logo xuống dòng nếu không đủ chỗ */
    gap: 15px;
    max-width: 1200px;
    margin: 0 auto; /* Căn giữa toàn bộ khối chứa logo */
    justify-content: center; /* Căn giữa các logo bên trong flex container */
    align-items: center; /* Căn giữa theo chiều dọc nếu cần */
    padding: 15px 0;
    border-top: 1px solid #ffffff;

}

.partner-logos div {
    display: flex;
    justify-content: center; /* Căn giữa logo trong từng ô */
    align-items: center; /* Căn giữa logo trong từng ô */
}

.partner-logos img {
    max-height: 50px; /* Đặt kích thước tối đa cho logo để đảm bảo đồng nhất */
    object-fit: contain;
}


.footer-links {
    margin-top: 20px;
    text-align: center;
}

.footer-links ul {
    list-style-type: none;
    padding: 0;
}

.footer-links ul li {
    display: inline-block;
    margin: 0 15px;
}

.footer-links ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 14px;
}

.footer-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
    max-width: 1200px;
    margin: 0 auto;
    border-top: 1px solid;
}

.footer-logo img {
    height: 20px;
}

.copyright {
    font-size: 14px;
    color: #ffffff;
}
