.headerCSS {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.05rem 2.3rem;
  background-color: #dfdddd;
}

.logoFia {
  height: 0.5rem;
  opacity: 0.5;
  cursor: pointer;
}

.header-buttons {
  display: flex;
}

.signInBtn, .subscribeBtn {
  border: none;
  padding: 0.17rem 0.25rem;
  margin-left: 0.1rem; 
  cursor: pointer; 
  border-radius: 0.1rem;
  color: var(--text-white);
  font-size: 0.27rem;
  font-weight: 600;
}

.signInBtn {
  background-color: var(--button-black-color);
  transition: 0.3s;
}

.signInBtn:hover {
  opacity: 0.7;
}

.subscribeBtn {
  border: 0.05rem solid transparent; /* Giữ border để không ảnh hưởng chiều dọc thẻ headerCSS khi hover*/
  background-color: var(--button-primary-color);
  transition: 0.3s;
}

.subscribeBtn:hover {
  background-color: var(--text-white);
  color: #000;
  border: 0.05rem solid var(--button-primary-color);
}

