/* General styles for the header */
.headermain {
  width: 100%; /* Đặt chiều rộng thành 100% */
 /* Giới hạn chiều rộng tối đa */
 box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Đổ bóng để tạo hiệu ứng nổi */
  display: flex;
  background-color: #f1f1f1; 
  justify-content: center; /* Căn giữa theo chiều ngang */
  flex: 1; /* Chiếm không gian còn lại */
  margin: 0 auto; /* Để căn giữa theo chiều dọc nếu cần */
}

.headerCSS {
  width: 100%;
  max-width: var(--main-width);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0;
/* Màu nền nhẹ hơn */
}

/* Logo styles */
.logoFia {
  height: 3rem;
  opacity: 0.8;
  transition: opacity 0.3s ease;
  cursor: pointer;
}

.logoFia:hover {
  opacity: 1;
}

/* Button container */
.header-buttons {
  display: flex;
  gap: 1rem; /* Khoảng cách giữa các nút */
}

/* Sign In Button */
.signInBtn, .subscribeBtn {
  border: none;
  padding: 0.75rem 1.5rem;
  cursor: pointer;
  border-radius: 0.5rem;
  font-size: 1rem;
  font-weight: 600;
  transition: all 0.3s ease;
}

.signInBtn {
  background-color: #333; /* Nền đen */
  color: #fff; /* Chữ trắng */
}

.signInBtn:hover {
  background-color: #555; /* Hiệu ứng hover nhẹ nhàng */
}

/* Subscribe Button */
.subscribeBtn {
  background-color: #ff6347; /* Màu cam đậm */
  color: #fff; /* Chữ trắng */
  border: 2px solid transparent; /* Đảm bảo không thay đổi kích thước khi hover */
}

.subscribeBtn:hover {
  background-color: #fff;
  color: #ff6347; /* Màu chữ đổi thành màu cam khi hover */
  border: 2px solid #ff6347;
}
.logomain{
  display: flex;
    align-items: center;
    border-right: 1px solid #ddd;
    padding-right: 1rem;
}
.logof1{
  max-width: 75%;
}
