body{
    background-color: #f1f1f1;
}
.app_container_home{
    display: flex;
    flex-direction: column;
}
.container {
    display: flex;
    flex-wrap: nowrap; /* Ngăn không cho phần tử con xuống hàng */
    justify-content: flex-start; /* Căn các phần tử từ đầu */
    padding: 20px;
    scroll-behavior: smooth;
    overflow-x: auto; /* Cho phép cuộn theo chiều ngang */
    overflow-y: hidden; /* Tắt cuộn dọc */
    -ms-overflow-style: none;  /* Ẩn thanh cuộn cho Internet Explorer và Edge */
    scrollbar-width: none;  /* Ẩn thanh cuộn cho Firefox */
    background-color: #15151e;
    order:1;
}

.event-card {
    /* background-color: #2c2c2c; */
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    width: 150px;
    margin: 0 5px;
    /* Flexbox để căn giữa nội dung */
    display: flex;
    justify-content: center; /* Căn giữa theo chiều ngang */
    align-items: center;     /* Căn giữa theo chiều dọc */
    flex-direction: column;  /* Sắp xếp nội dung theo chiều dọc */
    flex: 0 0 auto;          /* Ngăn việc co giãn của các thẻ */
    border-bottom: 1px solid var(--text-description);
    border-right: 1px solid var(--text-description);
    transition: all .5s linear;
}
.future-schedules,.past-schedules{
    display: flex;
}
.flag {
    width: 75px;
    height: auto;
}

.date {
    font-size: 4.2rem;
    font-weight: bold;
    color: var(--text-description);
}
.date-hightlight{
    font-size: 1.6rem;
}
.month {
    font-size: 1.6rem;
}

.highlight {
    width: 400px;
    transition: all .5s linear;
}

h2 {
    font-size: 2.5rem;
    margin: 10px 0;
}
.outtime{
    color: var(--text-description);
}

.view-schedule {
    background-color: #00aaff;
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    /* padding: 10px 15px; */
    margin: 10px 0;
    transition: all .2s linear;
}
.view-schedule:hover{
    background-color: #fff;
    color: var(--text-black);
    border: 1px solid var(--primary-color);

}
.time-info {
    font-size: 1.6rem;
    margin-top: 10px;
}
.event-card img{
    border-radius: 3px;
}


/* driver standing */

.driver-standings {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    order:2;
}

.back-standing {
    background-image: linear-gradient(to right, 
    rgba(0, 0, 0, 0.8) 0%,   /* Bắt đầu từ màu tối */
    rgba(0, 0, 0, 0.8) calc(50% - 400px),  /* Tối dần đến vị trí bắt đầu khoảng giữa */
    rgb(185, 185, 185) 50%,  /* Vùng sáng khoảng giữa (khoảng 800px từ trung tâm) */
    rgba(0, 0, 0, 0.8) calc(50% + 400px), /* Kết thúc vùng sáng và bắt đầu tối dần */
    rgba(0, 0, 0, 0.8) 100%  /* Kết thúc ở màu tối */
);

    height: 300px;
    width: 100%;
    /* filter: blur(5px) brightness(0.5); */
}

.standing-container{
    height: 250px;
}

.top-standing {
    width: 100%;
    display: flex;
    align-items: center;
    position: relative;
    top: -200px;
}

.top-driver {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 5px;
    color: white;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
    cursor: pointer;
    overflow: hidden;
    margin: 20px;
    position: relative;
    background-color: white;
}
.top-driver:nth-child(1) {
    order: 2; /* Đổi vị trí phần tử đầu tiên xuống dưới */
}

.top-driver:nth-child(2) {
    order: 1; /* Đổi vị trí phần tử thứ 2 lên trên */
}
.top-driver:nth-child(3) {
    order: 3; /* Đổi vị trí phần tử thứ 2 lên trên */
}

.T-driver{
    width: 300px;
    height: auto;
    border-bottom: 10px solid var(--primary-color);
    position: relative;
}

.infor-diver {
    background-color: var(--border-black);
    width: 100%;
    padding: 10px 15px;
}

.name-driver p {
    font-size: 2rem;
    margin: 0;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: var(--text-white);
}

.infor-diver img {
    width: 35px;
    height: auto;
    margin-top: 10px;
    border: 1px solid #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}


.number-driver{
    font-size: 5.2rem;
    color: var(--primary-color);
    font-weight: 600;
    position: absolute;
    left: 15px;
    top: 5px;
}
.top-driver:nth-child(2) , .top-driver:nth-child(3){
    top: 30px;
}
.back-standing span {
    display: flex;
    justify-content: center;
    font-size: 5rem;
    margin-top: 15px;
    color: var(--text-description);
}

/*  */


.top-list {
    width: 100%;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    /* padding: 10px; */
    /* box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1); */
}

.top-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #fff;
    border-radius: 10px;
    margin-bottom: 2px;
    transition: all 0.2s ease;
    /* box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1); */
}

.top-item:hover {
    background-color: var(--border-black);
    cursor: pointer;
}
.top-item:hover .left-item div:first-child , 
.top-item:hover .left-item div:nth-child(2){
    color: var(--text-white);
}
.left-item {
    display: flex;
    align-items: center;
    gap: 15px;
    position: relative;
}
.left-item::after{
    content: "";
    position: absolute;
    background-color: var(--primary-color);
    height: 20px;
    width: 5px;
    top:5px;
    left: 2rem;
}
.left-item div:first-child {
    font-weight: bold;
    font-size: 20px;
    color: #333;
}

.left-item div:nth-child(2) {
    font-weight: bold;
    font-size: 1.8rem;
    color: #000;
    text-transform: uppercase;
    padding-left: 10px;
}

.left-item div:nth-child(3) {
    color: #8e8e8e;
    font-size: 1.4rem;
}

.right-item {
    display: flex;
    align-items: center;
    gap: 10px;
}

.pts {
    background-color: #f1f1f1;
    padding: 5px 15px;
    border-radius: 20px;
    font-weight: bold;
    font-size: 1.4rem;
    color: #333;
}

.pts span:first-child {
    margin-right: 5px;
    font-size: 1.6rem;
}

.row-right {
    color: #ff2e2e;
    font-size: 1.6rem;
    cursor: pointer;
}

.row-right i {
    transition: transform 0.2s;
}

.row-right i:hover {
    transform: translateX(5px);
}
.top-list-container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    /* margin: 0 auto; */
    padding: 20px 0;
    align-items: center;
    order: 3;
}
.top-list{
    max-width: var(--main-width);
}

.btn{
    background-color: var(--primary-color);
    width: 100%;
    max-width: 200px;
    margin-top: 20px;
    padding: 10px 15px;
    font-size: 1.2rem;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.btn i {
    transition: transform 0.2s;
}
.btn:hover{
    filter: brightness(120%);
}
.btn:hover i{
    transform: translateX(5px);
}






.cangiua{
    display: flex;
    justify-content: center;
}
.border-big{
    border-right: 10px solid #3f2875;
    border-top: 10px solid #3f2875;
    border-bottom: 10px solid #3f2875;
    border-top-right-radius: 1.875rem;
    border-bottom-right-radius: 1.875rem;
    width: 100%;
    margin:10px 0 ;
    max-width: var(--main-width);
}
.ticket-section {
    position: relative;
    background-color: #6b46c1; /* Purple background */
    color: white;
    padding: 2rem;
    border-radius: 0.75rem;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1);
    margin: 10px;
    margin-left: 0;
  }
  
  .ticket-bg {
    position: absolute;
    inset: 0;
  }
  
  .ticket-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 0.75rem;
    opacity: 0.3;
  }
  
  .ticket-content {
    position: relative;
    z-index: 10;
  }
  
  .ticket-content h2 {
    font-size: 5.5rem;
    margin-bottom: 0.5rem;
  }
  
  
  .ticket-content p {
    margin-bottom: 3.5rem;
    font-size: 1.5rem;
  }
  
  .ticket-btn {
    background-color: #ff6347; /* Secondary color */
    color: white; /* Text color */
    padding: 1rem 1.5rem;
    border-radius: 0.5rem;
    text-decoration: none;
    font-size: 1.6rem;
    transition: all .2s linear;
  }
  
  .ticket-btn:hover {
    background-color: rgba(255, 99, 71, 0.8); /* Darken on hover */
  }
  