.schedule-card {
  width: 20rem;
  border: 0.1rem solid #000;
  border-bottom: none;
  border-left: none;
  padding: 1rem;
  border-radius: 0.5rem;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.round-info p:first-child {
  font-size: 1rem;
  color: red;
  font-weight: bolder;
  margin: 0;
}

.round-info p:last-child {
  font-size: 2rem;
  font-weight: bold;
  margin: 0;
}

.date-flag {
  display: flex;
  align-items: center;
}

.date-flag p {
  font-size: 1.3rem;
  font-weight: bold;
  width: 30%;
}

.date-flag img {
  width: 70%;
  height: auto;
}

.race-location {
  border-top: 0.01rem solid #000;
  border-bottom: 0.01rem solid #000;
}

.race-location h3 {
  font-size: 1.5rem;
  margin: 0.5rem 0;
}

.race-location p {
  font-size: 1rem;
  margin-bottom: 0.5rem;
  color: #555;
}

.drivers {
  display: flex;
  justify-content:space-between;
  align-items:end;
  margin-top: 1rem;
}

.driver {
  text-align: center;
}

.driver img {
  width: 6rem;
  background-color: #000;
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem; 
}

.driver .middleRacerImg {
  width: 7rem;
}

.driver p {
  font-size: 1rem;
  font-weight: bold;
  margin: 0;
  border: 0.1rem solid #000;
  border-bottom-right-radius: 0.5rem;
  border-top: none;
  border-left: none;
}
